/* Configurações Globais */
:root {
  --bjj-red: #E20613;
  --bjj-dark: #0A0A0A;
  --text-main: #1e293b;
  --bg-light: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-main);
  background-color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Utilitários de Layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-padding {
  padding: 80px 0;
}

/* Estilo do Botão Principal */
.btn-primary {
  background-color: var(--bjj-red);
  color: white;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}