.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-black);
}

.login-box {
  width: 100%;
  max-width: 350px;
  background-color: var(--bg-black);
  border: 1px solid var(--border-color);
  padding: 40px 30px;
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  background-color: #121212;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  color: white;
  font-size: 12px;
}

.login-input:focus {
  border-color: #555;
  outline: none;
}